/* .Person{
    width: 60%;
    margin:auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    margin-top: 20px;
}

.btn-del{
    background-color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
} */